<app-nav></app-nav>
<div class="container fw-light">
  <div class="header ">
    <h1 class="fw-light">Login</h1>
  </div>
  <form action="#" method="post" autocomplete="off" class="">
    <div class="form-group">
      <input type="text" name="username" id="username" required class="inputField" autocomplete="off">
      <label for="username">Email</label>
    </div>
    <div class="form-group">
      <input type="password" name="password" id="password" required class="inputField" autocomplete="off">
      <label for="password">Senha</label>
    </div>
    <button type="submit" class="submitButton fw-light">Login</button>
  </form>
  <div class="footer">
    <span>Não tem conta? <a [routerLink]="['/auth/register']"><i> registre-se</i></a></span>
  </div>
</div>
