 .content{
  padding: 16px;
}
.title_center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.rounded-circle{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  align-self: center;
  box-shadow: 0px 5px 5px -3px rgb(253, 253, 253),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
 }

 .button-add{
  background-color: #166619;
  font-size: 16px;
  margin: 8px 4px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#menu {
  margin-left: auto;
}

#file-input {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 33vh;
  height: 60vh;
  align-items: center;
}

#salvar {
  margin-top: 16px;
}

#image-preview {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px 0;
  align-self: center;
  border: 7px solid white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.l-card{
  padding: 30px;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
