<div class="container ">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-1 order-md-first mb-2 mb-md-0">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none me-2">
        <span class="fs-4 fw-light">Business Partners</span>
      </a>
    </div>

    <div class="col-md-3 text-end">
      <button (click)="OpenNewCardDialog()" class="btn btn-outline-primary me-2">Criar Cartão</button>
      <button  (click)="logout()" class="btn btn-outline-danger">Sair</button>
    </div>
  </header>
</div>


<div class="content" *ngIf="allCards | async as cards; else loading">
    <div  class="l-card">
      <div *ngFor="let card of cards" >
        <div class="container marketing">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mx-auto"  style="width: 18rem;">
                <div class="action-btn">
                  <button mat-icon-button color="primary" (click)="openEditCargoDialog(card)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteCargoDialog(card)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <img [src]="card.avatar" alt="Business card avatar" class=" card-img-top" />
                <div class="card-body ">
                  <h5 class="card-title">{{card.cardName}}</h5>
                  <p class="card-text">{{card.address}}</p>
                  <p class="card-text">{{card.tel | phone}}</p>
                  <p class="card-text">{{card.email}}</p>
                  <p class="card-text">{{card.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<ng-template #newCardDialog class="dialog-itens">
  <section mat-dialog-content>
    <form [formGroup]="newCardForm" (ngSubmit)="saveNewCard()">
      <img [src]="avatarPreview || '/assets/no-profile.png'" alt="Business card avatar" class="image-preview" />
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          type="text"
          placeholder="Ex: Johan"
          matInput
          formControlName="cardName"
          maxlength="26"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input
          type="text"
          placeholder="Ex: Rua um, 123. São Paulo - SP"
          matInput
          maxlength="26"
          formControlName="address"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input
          type="text"
          placeholder="Ex: 19987654321"
          matInput
          maxlength="11"
          formControlName="tel"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="text"
          placeholder="Ex: exempo@exemplo.com"
          matInput
          maxlength="26"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input
          type="text"
          placeholder="Ex: Cliente"
          matInput
          maxlength="26"
          formControlName="description"
        />
      </mat-form-field>
      <input
        type="file"
        accept="image/*"
        id="file-input"
        #fileInput
        (change)="getAvatar($event)"
        formControlName="avatar"
      />
      <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="fileInput.click()"
      >
        Upload Image
      </button>
      <button
        type="submit"
        [disabled]="newCardForm.invalid"
        mat-raised-button
        color="primary"
        class="salvar"
      >
        Salvar
      </button>
    </form>
  </section>
</ng-template>
<!--create a form group -->

<ng-template #loading>
  <app-loader label="Loading all Cards..."></app-loader>
</ng-template>

<!-- Delete card Dialog-->
<ng-template #deleteCardDialog class="dialog-itens">
  <section mat-dialog-content>
    <p>Tem certeza que deseja deletar esse Card?</p>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="deleteCard(selectedTrace)"
    >
      Delete
    </button>
  </section>
</ng-template>

  <!-- dialog with all card data -->
  <ng-template #editCardDialog class="dialog-itens">
    <section mat-dialog-content>
      <form [formGroup]="cardForm" (ngSubmit)="updateCard()">
        <img
        [src]="avatarPreview || '/assets/no-profile.png'" alt="Business card avatar" class="image-preview"
        />
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            type="text"
            placeholder="Ex: Johan"
            matInput
            maxlength="30"
            formControlName="cardName"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Endereço</mat-label>
          <input
            type="text"
            placeholder="Ex: rua um, 123. São Paulo - SP"
            matInput
            formControlName="address"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tel</mat-label>
          <input
            type="text"
            placeholder="Ex: 19987654321"
            matInput
            formControlName="tel"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Emal</mat-label>
          <input
            type="text"
            placeholder="Ex: 123 Ainz Street"
            matInput
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <input
            type="text"
            placeholder="Ex: Cliente"
            matInput
            formControlName="description"
          />
        </mat-form-field>
        <button
          type="submit"
          [disabled]="cardForm.invalid"
          mat-raised-button
          color="primary"
          class="salvar">
          Salvar
        </button>
      </form>
    </section>
  </ng-template>

<div *ngIf="(allCards | async)?.length === 0"  class="px-4 py-5 my-5 text-center">
  <h2>\(o_o)/</h2>
  <h1 class="display-5 fw-bold">Bem-vindx</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Aqui você pode cadastrar seus cartões de parceiros e ter acesso fácil aos seus contatos e informações. No momento, sua página está vazia, mas assim que você cadastrar seus cartões, eles estarão disponíveis aqui para você. Não perca mais tempo procurando por informações de contato, cadastre seus cartões agora e tenha tudo acessível em um só lugar!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" (click)="OpenNewCardDialog()" class="btn btn-outline-primary btn-lg px-4 gap-3">Criar Agora</button>
    </div>
  </div>
</div>
