<app-nav></app-nav>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Business Partners</h1>
        <p class="lead text-muted">Cadastre e visualize seus parceiros de negócios em um só lugar!<br>
          Com o nosso site, você pode criar um Card com
          todas as informações importantes sobre seus parceiros e ter acesso a eles facilmente quando precisar!</p>
        <p>
          <button type="button" (click)="redirectUser()" class="btn btn-outline-info mx-2 my-2">Crie Agora</button>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">

    <div class="container">
      <h1 class="fw-light">Aqui estão alguns exemplos...</h1>
      <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'https://img.freepik.com/free-photo/young-man-news-home_144627-9549.jpg?w=1380&t=st=1674007992~exp=1674008592~hmac=20351bd4ebac3970ecb35ff8811b39dd36175f63175fa2c722b0fd8797fe5664'" alt="Business card avatar" class=" card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">Fernandes Nuva</h5>
              <p class="card-text"><strong>Endereço</strong>: Rua verde, 12</p>
              <p class="card-text"><strong>Telefone</strong>: (11) 99999-9999</p>
              <p class="card-text"><strong>Email</strong> abc@gmail.com</p>
              <p class="card-text"><strong>Descrição</strong>: Cliente</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'https://img.freepik.com/free-photo/young-caucasian-male-manager-glasses-sitting-company-office_176420-7926.jpg?w=1380&t=st=1674007307~exp=1674007907~hmac=6a7a21939e55b063f2639b70db51da62fcc8c5a64f2056a986ff2d07fa098133'" alt="Business card avatar" class="card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text"><strong>Endereço</strong>: Rua Azul, 15</p>
              <p class="card-text"><strong>Telefone</strong>: (11) 99999-9999</p>
              <p class="card-text"><strong>Email</strong> xyz@gmail.com</p>
              <p class="card-text"><strong>Descrição</strong>: Auxiliar contábil</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'https://img.freepik.com/free-photo/postwoman-working-office_1098-19475.jpg?w=1380&t=st=1674006445~exp=1674007045~hmac=432bdd823770fc6f2ae50c7a6e395f11f46093f011b76413b9d08bf15b701bfc'" alt="Business card avatar" class=" card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">Lisa Sanchez</h5>
              <p class="card-text"><strong>Endereço</strong>: Rua Amarela, 9</p>
              <p class="card-text"><strong>Telefone</strong>: (11) 99999-9999</p>
              <p class="card-text"><strong>Email</strong> fgh@gmail.com</p>
              <p class="card-text"><strong>Descrição</strong>: Fornecedora</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>




</main>
