<app-nav></app-nav>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Business Partners</h1>
        <p class="lead text-muted">Cadastre e visualize seus parceiros de negócios em um só lugar!<br>
          Com o nosso site, você pode criar um Card com
          todas as informações importantes sobre seus parceiros e ter acesso a eles facilmente quando precisar!</p>
        <p>
          <button type="button" (click)="redirectUser()" class="btn btn-outline-info mx-2 my-2">Crie Agora</button>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">

    <div class="container">
      <h1 class="fw-light">Aqui estão alguns exemplos...</h1>
      <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'assets/man-phone.jpg'" alt="Business card avatar" class=" card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">Fernandes Nuva</h5>
              <p class="card-text">Rua verde, 12</p>
              <p class="card-text">(11) 99999-9999</p>
              <p class="card-text">abc@gmail.com</p>
              <p class="card-text">Cliente</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'assets/male-manager.jpg'" alt="Business card avatar" class="card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text">Rua Azul, 15</p>
              <p class="card-text">(11) 99999-9999</p>
              <p class="card-text">xyz@gmail.com</p>
              <p class="card-text">Auxiliar contábil</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mx-auto"  style="width: 18rem;">
            <img [src]="'assets/postwoman-working.jpg'" alt="Business card avatar" class=" card-img-top" />
            <div class="card-body ">
              <h5 class="card-title">Lisa Sanchez</h5>
              <p class="card-text">Rua Amarela, 9</p>
              <p class="card-text">(11) 99999-9999</p>
              <p class="card-text">fgh@gmail.com</p>
              <p class="card-text">Fornecedora</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>
