

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.success-snackbar {
  background-color: #7ed285;
  color: white;
}
.error-snackbar {
  background-color: #e79b9b;
  color: white;
}
