

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #166619;
  color: white;
}
.error-snackbar {
  background-color: #d32f2f;
  color: white;
}
