<div class="container ">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-1 order-md-first mb-2 mb-md-0 ">
      <a [routerLink]="['']" class="d-flex align-items-center text-dark text-decoration-none me-2">
        <span class="fs-4 fw-light ">Business Partners</span>
      </a>
    </div>

    <div class="col-md-3 text-end">
      <button  [routerLink]="['/auth/login']" *ngIf="currentRoute == 'register'" type="button" class="btn btn-outline-info me-2">Login</button>
      <button  [routerLink]="['/auth/register']" *ngIf="currentRoute == 'login'" type="button" class="btn btn-outline-info">Cadastre-se</button>
    </div>
  </header>
</div>
